
$padding-bottom: 1%;
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;


}

.footer-top{
  .title{
    font-size: 18px;
    color: $secondary;
    display: block;
  }

  .brand{
    max-width: 300px;
    background-color: red;
  }

  .list{
    .item{
      color: #d9d9d9;
      display: block;
      margin-bottom: 4px;
    }

    .item:hover{
      color: $orange
    }
  }

  .social-icons{
     a{
        color: white;
     }

     a:hover{
       color: $orange;
     }
  }

  .contact{
    a{
      font-size: 20px;
      color: #d9d9d9;
    }
    a:hover{
      color: $orange;
    }
  }
}


.footer-bottom{
  padding-top: $padding-bottom;
  padding-bottom: $padding-bottom;

  .text{
    color: $secondary;
  }

  .logo{
    -webkit-filter: invert(50%) grayscale(100%);
    filter: invert(50%) grayscale(100%);
  }

}


.mobile-footer {
  //border-top: 1px solid $secondary;
  box-shadow: 10px 0 0 rgba(0,0,0,.3);

  position: -webkit-sticky;
  position: sticky;
  bottom:0 ;
  z-index: 2;
  background-color: $secondary-light;
  .mobile-top-border{
    border-top: 2px solid $secondary;
  }

  .phone{
    font-size: 19px;
    font-weight: 500;

    .icon{
      color: $orange;
    }
  }
}


