
.service-card{
  width: 240px;
  //height: 100px;
  //background-color: red;
  cursor: pointer;
  border: 2px solid transparent;

  .title{
    min-width: 140px;
    width: auto;
  }


  &:hover{
    border: 2px solid $primary-light;
  }

  &.active{
    border: 2px solid $success;
    color: $success;

  }

  &.have-detail{
    width: auto;
  }

  .icon{
    font-size: 50px;
  }

  .selected-icon{
    position: absolute;
    right: 0;
    top: 0;
  }


}

.service-detail{
   .select-all{
     border-bottom: 1px solid $secondary;
     width: 100%;

     span{
       color: $primary;
       font-size: 14px;
     }
   }
}

