
.success-page{

  .icon{
    font-size: 60px;
  }


  .title{
    color: $success;
    font-size: 30px;
  }
  .number{
    color: $orange;
    font-size: 20px;
  }

  .info-card{
    border: 1px solid $border-color;
    border-radius: 7px;
    height: 100%;
    padding: 4%;
    box-shadow: 0 0 10px rgba(0,0,0,.2);


    .strong-title{
      font-weight: 600;
    }

    .text{
      color: #5f5f5f
    }
    .garage-title{
      font-size: 20px;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .garage-icon{
      font-size: 60px;
      color: $primary;
    }
  }
}
